
body{
    background-color: #000000
}
h1 {
    text-align: center;
    font-size: 40px;
    color: #FFF3D6;
    font-weight: 1;
    font-family: 'Spectral SC', serif;
    margin-bottom: 5px;
}
div p {
    background-color: #FFF3D6;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    width: 85%;
}
#content {
    justify-content: center;
    font-family: 'Arial';
    color: #555555;
}

#generate {
    font-family: 'Raleway', sans-serif;
    width: 30%;
    margin-left: 34%;
    margin-right: 36%;
    margin-bottom: 30px;
    margin-top: 10px;
    background-color: #8A110E;
    color: #FFFFFF;
    border: 0;
    height: 50px;
    font-size: 20px;
    font-weight: 1;
    
}

button:hover{
    filter: brightness(150%);
}

a:hover{
    filter: brightness(50%);
}

img{
    width: 80%;
    height: 80%;
}

.column {
    float: left;
    width: 50%;
  }

#seal{
    width: 8%;
    height: 8%;
    margin-left: 45%;
    margin-right: 30%;